h1 {
  @apply text-5xl;
}

h2 {
  @apply text-4xl;
}

h3 {
  @apply text-3xl;
}

h4 {
  @apply text-2xl;
}

h5 {
  @apply text-xl;
}

h6 {
  @apply text-lg;
}

/*! purgecss start ignore */
:root {
  --primary: theme("colors.blue.400");
  --secondary: theme("colors.orange.500");
  --background-color: theme("colors.gray.100");
  --text-color: theme("colors.gray.900");
  --shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1),
    0 4px 6px -2px rgba(255, 255, 255, 0.05);
}
/*! purgecss end ignore */
